@import "mixins";

*{
  padding: 0;
  margin: 0;
}

body{

}








/*HEADER*/

header {
  height: 70px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}






/*MAIN*/

main {
  margin-top: 100px;

  img{
    width: 100%;
  }



  //HOME

  .jumbotron{
    background: url(../img/intirior.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    border-radius: 0;
    margin-top: -100px;
    @include fullWhith();
    height: 100vh;
    min-height: 480px;
  }

  .text-jumbo{
    color: white;
    text-align: center;
    width: 80%;
    min-height: 20vh;
    border: solid 2px white;
    margin: auto;
    background-color: rgba(0,0,0,.5);
    padding: 5px;
    position: relative;
    top: 50vh;
    margin-top: -10vh;
    @include mQ(768px){
      h1{
        font-size: 40px;
      }
    }

    @include mQ(541px){
      min-height: 30vh;
      margin-top: -15vh;
    }
  }

  .cards{
    display: flex;
    justify-content: space-around;
  }




  .center-card{
    margin-top: 100px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;

    h3, h4{
      text-align: center;
      font-weight: bold;
    }
  }



  //MENU

  .option{
    display: flex;
    justify-content: space-between;
    padding: 0 15px 0 15px;
  }

  .verzendK{
    position: relative;

    input{
      padding-left: 35px;
    }

    i{
      position: absolute;
      left: 25px;
      top: 10px;
      color: white;
    }
  }

  .blur-BG{
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
    position: fixed;
    background: url(../img/intirior.jpg);
    filter: blur(2px);
  }

  .menuL{
    @include mQ(30000px, 768px){
      border-right: solid 1px black;
    }
  }



  //ADERS

  #adres-con{
    height: 700px;
    @include fullWhith();

    iframe{
      position: absolute;
      bottom: 0;
    }
  }
}








/*FOOTER*/

footer {

}
