*{
  padding: 0;
  margin: 0;
}

body{

}








/*HEADER*/

header {
  height: 70px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}






/*MAIN*/

main {
  margin-top: 100px;
}

.jumbotron{
  background-image: url();
}

.cards{
  display: flex;
  justify-content: space-around;
}




.center-card{
  margin-top: 100px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
}

.center-card h3, .center-card h4{
  text-align: center;
  font-weight: bold;
}

.option{
  display: flex;
  justify-content: space-between;
  padding: 0 15px 0 15px;
}

.verzendK input{
  padding-left: 35px;
}

.verzendK{
  position: relative;
}

.verzendK i{
  position: absolute;
  left: 25px;
  top: 10px;
  color: white;
}

.blur-BG{
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  position: fixed;
  background: url(img/intirior.jpg);
  filter: blur(2px);
}








/*FOOTER*/

footer {

}
