*{
  padding: 0;
  margin: 0;
}

body{

}








/*HEADER*/

header {
  height: 70px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}






/*MAIN*/

main {
  margin-top: 70px;
}

.jumbotron{
  background-image: url();
}

.cards{
  display: flex;
  justify-content: space-around;
}








/*FOOTER*/

footer {

}
